* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    line-: 120%;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2 {
    color: #42a372;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float:left;
    padding-right: 30px;
    padding-left: 10px;
    /* the parent need to be relative */
    position: relative;
    
}

.other-posts {
    float: left;
    width: 25%;
    padding-left: 10px;
    
}

.author-box {
    border-top: 1px solid #a4a4a4;
    padding-top: 20px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author {
    font-size: 22px;
}

.date {
    /* the children is absolute */
    position: absolute;
    /* top equals to margin top from container */
    top: 10px;
    /* right equals to padding-rigt from blog-post */
    right: 30px;
    
}


/* typography
/* text between 15 and 25 pixels
/* USE REALLY BIG FONT FOR HEADLINES 
/* line space between 120 and 150% 
/* 45 to 90 characters por line
/* good fonts (
    serifas: traditional purposes, storytelling,
    long reading
    sans-serif: more neutral, clean, simple, modern
)
examples: open sans, lato, railway, monsterrat, pt sans
cado, merriweather, pt serif
*/ 

/* Colors
/* only one base color
/* red:  power, passin, strenght, exciment 
/* orange: creativity, confindence, corage
/* yellow: happy, curiosity
/* green: harmony, money, health, nature, life
/* blue: patience, peace, trust, stability, honor
/* purple: power, nobility, wisdom
/* pink: affection, passivity, romance
/* brow: earth, relaxation */

/* white space between your elements
between your groups of elements and sections
where to look first?
flow?
whitespace to build the flow */

/* This cheat sheet is intended to serve as a quick reference for you.

It contains all the guidelines I showed you in this web design section.

It is very important that you have all of the guidelines in mind at the same time when you're making your designs.



Beautiful Typography

1. Use a font-size between 15 and 25 pixels for body text

2. Use (really) big font sizes for headlines

3. Use a line spacing between 120 and 150% of the font size

4. 45 to 90 characters per line

5. Use good fonts

6. Chose a font which reflects the look and feel you want for your website

7. Use only one font



Using Colors Like a Pro

1. Use only one base color

2. Use a tool if you want to use more colors

3. Use color to draw attention

4. Never use black in your design

5. Choose colors wisely



Working with Images

1. Put text directly on the image

2. Overlay the image

3. Put your text in a box

4. Blur the image

5. The floor fade



Working with icons

1. Use icons to list features/steps

2. Use icons for actions and links

3. Icons should be recognizable

4. Label your icons

5. Icons should not take a center stage

6. Use icon fonts whenever possible



Spacing and layout

1. Put whitespace between your elements

2. Put whitespace between your groups of elements

3. Put whitespace between you website's sections

4. Define where you want your audience to look first

5. Establish a flow that corresponds to your content's message

6. Use whitespace to build that flow */

