/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}

.clearfix {
    zoom:1
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ----- Headings ----- */

h1,
h2,
h3 {
    
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    /* 200% of font-size define on html selector */
    word-spacing: 4px;
    font-size: 240%;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
    /* color:  #e67e22; */
    margin-bottom: 10px;
}


h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #e67e22;
}

h3 {
    font-size: 115%;
    margin-bottom: 15%;
}

.box {
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* ----- Icons ----- */

.icon-big {
    display: block;
    font-size: 325%;
    color: #e67e22;
    margin: 0 auto;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -6px;
    

}

/* ----- Generic Links ----- */


/* ----- Buttons ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    /* inline-block mix between block and inline elements */
    /* a is a inline element but we need block element properties for the button */
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #e67e22;
    transition: backgroun-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active 
{
    background-color: #b05d14;
    border: 1px solid #b05d14
}

.btn-ghost:link,
.btn-ghost:visited,
{
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active,
{
    color: #fff;
}

/* ----- Paragraphs ----- */

.long-copy
{
    line-height: 145%;
    width: 70%;
    margin-left:15%;
    margin-top: 30px;
}

/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header {
    /* 100% of the view port */
    height: 100vh;
    /* image with a gradient layer */
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),url("../imgs/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
/* background-image*/
.hero-text-box {

    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

/* ---- Logo ---- */
.logo {
    height: 150px;
    width: auto;   
    float: left;
    margin-top: 20px;
}

.main-nav {
    margin-top: 60px;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid trasparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ---------------------------------------------------- */
/* FEATURES */
/* ---------------------------------------------------- */

.section-features .long-copy {
    margin-bottom:40px
}

/* ---------------------------------------------------- */
/* MEALS */
/* ---------------------------------------------------- */
.meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width:100%;
    
}

.meals-showcase li {
    display: block;
    float:left;
    /* 4 images */
    width:25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    /* cut the part of the image that is out of the box*/
    overflow: hidden; 
    /* make the image darker (opacity 0.7) */
    background-color: #000; 
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2); /* explode image beyond box */
    transition: transform 0.5s, opacity 0.5s
}

.meal-photo img:hover {
    transform:scale(1.05);
    opacity: 1;
}

/* ---------------------------------------------------- */
/* STEPS */
/* ---------------------------------------------------- */

.section-steps {
    /* margin-top: 40px; */
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
    
}

.app-screen {
    width: 40%;
    height: auto;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    /* display: inline-block; */
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type {
    margin-bottom: 70px;
}

.btn-app {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* ---------------------------------------------------- */
/* CITIES */
/* ---------------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.city-feature a:link,
.city-feature a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:active,
.city-feature a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
    
}


/* ---------------------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------------------- */

.testimonials {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('../imgs/back-customers.jpg');
    color: #fff;
    background-attachment: fixed;
    
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img {
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.842);
    vertical-align: middle;
}

/* ---------------------------------------------------- */
/* SIGN UP */
/* ---------------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 6px;
    width: 90%;
    margin-left:5%; /* half of 10% */   
    box-shadow: 0 2px 2px #ececec;
}

.plan-box h3 {
    margin-bottom: 10px;
}

.plan-box div {
    padding: 15px;
    border-bottom: 2px solid #f2f2f2;;
}
.plan-box div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.plan-box div:last-child {
    text-align: center;
    border: none;
    ba
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e67e22
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;

}

.plan-box ul 
{
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* ---------------------------------------------------- */
/* CONTACT */
/* ---------------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

input[type=text],
input[type=email], 
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/*Remove blue border on focus*/

*:focus {
    outline: none;
}


/* ---------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------- */

footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-twitter,
.ion-social-instagram,
.ion-social-facebook,
.ion-social-googleplus {
    transition: color 0.2s;

}

.ion-social-twitter:hover {
    color:#00aced;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-googleplus:hover {
    color:#dd4b39;
}

.footer p {
    color: #888;
    text-align: center;
    font-style: 80%;
    margin-top: 20px;
}
