<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quis sunt velit, minus temporibus libero accusamus rem optio neque, eum nulla recusandae omnis incidunt unde quibusdam iure id, perspiciatis nostrum?</p>
    {{>footer}}
</body>
</html>